
  #text {
    z-index: 100;
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
    left: 30%;
    right: 30%;
    top: 20%;
  }
  
  body > div:nth-child(2){
    text-align: center;

  }

  .button {
    display: block;
    width: max-content;
    padding: 10px 10px;
    background-color: #F2A20C;
    color: white;
    border-radius: .5rem;
    font-weight: 600;
    margin-top: 10px;
  }



#footer{
  margin-top: calc(100vh - 80px);
}

.Nickname{
  position: absolute;
  margin-top: 15%;
  margin-left: 40%;
}

#nickname{
  width: 435px;
}

#label{
font-size: 100px;
}

body{
  background-color: rgb(225, 247, 215) ;
}

@media only screen and (max-width: 700px) {
  .Nickname{
    position: absolute;
    margin-top: 15%;
    margin-left: 4%;
  }
}